<!-- <div class="container justify-content-center mt-5">
    <input [(ngModel)]="valor1" class="btn btn-outline-primary" type="number">
    <input [(ngModel)]="valor2" class="btn btn-outline-primary" type="number">
    <button class="btn btn-primary" (click)="sumar(valor1, valor2)"> sumar</button>
    <button class="btn btn-primary" (click)="restar(valor1, valor2)"> Restar</button>
    <button class="btn btn-primary" (click)="multiplicar(valor1, valor2)"> multiplicar</button>
    <button class="btn btn-primary" (click)="dividir(valor1, valor2)"> dividir</button>
    <p *ngIf="resultado !== undefined"> El resultado es : {{resultado}}</p>
</div> -->