<!--el message entre comillas es el de la clase padre-->

<div class="container">
    <div class="row justify-content-center">

        <div class="col-6 mt-5">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="name" class="m-5">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let alumno"> {{alumno.name}} </td>
                </ng-container>

                <ng-container matColumnDef="curso">
                    <th mat-header-cell *matHeaderCellDef> Curso </th>
                    <td mat-cell *matCellDef="let alumno"> {{alumno.curso}} </td>
                </ng-container>

                <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef> Info </th>
                    <td mat-cell *matCellDef="let alumno">
                        <button (click)="mandarId(alumno.id)" class="btn btn-primary" type="button" mat-button>Ver Notas</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="modificar">
                    <th mat-header-cell *matHeaderCellDef> Modificar </th>
                    <td mat-cell *matCellDef="let alumno">
                        <button (click)="editStudent(alumno)" class="btn btn-primary" type="button" mat-button>Modificar</button>
                    </td>
                </ng-container>





                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <div class="justify-content-center">
                <button [routerLink]="['/crear']" class="btn btn-primary my-5" type="button" mat-button>Crear Alumno</button>
            </div>


            <app-calificacion class="mt-5" [mandar]="mandar"></app-calificacion>
        </div>
    </div>
</div>